<html>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='./style.css'>
    <title>Makers BnB</title>
  </head>
  <body>
  <header>
    <h1>Booking Requests</h1>
  </header>
  <form>
    <input type=submit value='Confirm'>
  </form>
  </body>
  </html>
