<html>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='./style.css'>
    <title>Makers BnB</title>
  </head>
  <body>
  <header>
    <h1>List a property </h1>
  </header><br><br>
  <div id='input_house'>
    <form id= edit_property method= Post action='/edit_prop/<%=@property.id%>'>
    <input id='house_name' type=text name='name' value='<%=@property.name%>'>
    <input type=text name='price' value='<%=@property.price%>'><br>
    <textarea cols=60 rows=10 name='description' value='<%=@property.description%>'></textarea><br>
    <input value= 'Edit Property' type= submit name = 'edit'>
    </form>
    <div>
  </body>
</html>