<html>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='./style.css'>
    <title>Makers BnB</title>
  </head>
  <body class='.materialize-red'>
  <header>
    <h1>Makers BnB</h1>
  </header><br><br>
    <form action = '/view_properties' method ='get'>
      <input type = 'submit' value = 'View Properties'>
    </form>
  </body>
</html>
