<html>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='./style.css'>
    <title>Makers BnB</title>
  </head>
  <body>
  <header>
    <h1>List a property </h1>
  </header><br><br>
    <form id= list_space method= Post action='/list_space/post'>
    <input type=text name='name' placeholder='name'>
    <input type=text name='price' placeholder='price'><br>
    <textarea cols=60 rows=10 name='description' placeholder='description'></textarea><br>
    <input value= 'List Property' type= submit>
    </form>
  </body>
</html>