<html>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='./style.css'>
    <title>Makers BnB</title>
  </head>
  <body>
    <h1>List a property </h1>
    <form id= list_space method= Post action='/list_space/post'>
    <input type=text name='name' placeholder='name'>
    <input type=text name='price' placeholder='price'>
    <textarea cols=10 rows=5 name='description' placeholder='description'></textarea>
    </form>
  </body>
</html>