<html>
  <head>
    <title>Makers BnB</title>
  </head>
  <body>
    <h1>Available Properties</h1>
    <p>
      <div>
        <span>Title</span>
        <br>
        <span>/night</span>
      </div>
    </p>
  </body>
</html>
