<html>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='./style.css'>
    <title>Makers BnB</title>
  </head>
  <body>
  <header>
    <h1>Request Stay </h1>
  </header><br><br>
    <form method= Get action='/'>
    <%# <input id='user_name' type=text name='user_name' placeholder='your_name'><br> %>
    <label>Start Date:</label>
    <input type=date name='start_date'>
     <label>End Date:</label>
    <input type=date name='end_date'><br>
    <textarea cols=60 rows=10 name='comments' placeholder='comments'></textarea><br>
    <button onclick="popUp()">Request a stay</button>
    </form>
    <script>
    function popUp() {
    alert("impressive eh\n?");
    }
    </script>
  </body>
</html>