<html>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='./style.css'>
    <title>Makers BnB</title>
  </head>
  <body>
  <header>
    <h1>Request Stay </h1>
  </header><br><br>
    <form method= Get action='/'>
    <input id='user_name' type=text name='user_name' placeholder='your_name'>
    <input type=date name='date'><br>
    <textarea cols=60 rows=10 name='comments' placeholder='comments'></textarea><br>
    <button onclick="myFunction()">Book</button>
    </form>
<script>
function myFunction() {
  alert("impressive eh\n?");
}
</script>
  </body>
</html>