<html>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='./style.css'>
    <title>Makers BnB|Sign Up</title>
  </head>
    <form>
      <label>Email:</label>
        <input type='text' name='email'>
      <label>First name:</label>
        <input type='text' name='first_name'>
    <label>Last name:</label>
        <input type='text' name='last_name'>
    <label>Password:</label>
        <input type='text' name='password'>
    <label>Confirm Password:</label>
    </form>


  </html
