<html>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='./style.css'>
    <title>Makers BnB|Sign Up</title>
  </head>

    <label>Email:</label>

    <label>First name:</label>

    <label>Last name:</label>

    <label>Password:</label>

    <label>Confirm Password:</label>


  </html