<html>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../style.css'>
    <title>Makers BnB|Sign In</title>
  </head>
    <header>
    <h1>Sign In</h1>
  </header><br><br>

  <form method='post' action='/sign_in'>
  <label>Email:</label>
  <input type='text' name='email'>
  <%=flash[:email_does_not_exist]%>
  <label>Password:</label>
  <input type='password' name='password'>
  <%=flash[:passwords_do_not_match]%>
  <input type='submit' name='sign_in' value='Sign in'>
  </form>
  <form action="/signup">
    <input type="submit" value="Sign up" name='sign_up'/>
    </form>

  </html>