body {
  background-color: rgb(199, 218, 221);
  text-align: center
}

h1 {
  text-align: center;
}

#container {
  text-align: center;
  display: inline-block
}


#property {
  text-align: left;
  max-width: 500px;
  border-style: solid;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  padding: 5px;
  border: 3px solid #333333;
  background: #ffffff;
}

#bookings {
  text-align: center;
  max-width: 500px;
  border-style: solid;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  padding: 5px;
  border: 3px solid #333333;
  background: #ffffff;
}

header {
  background-color: rgb(142, 177, 182);
    padding: 4rem 8rem;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 1rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;

}
  

  #comments {


      height:200px;
      width:450px;


  }


